<style type="text/css">
.productHeader, .productBody {
  width: 100%;
  display: inline-block;
  border: 1px solid #efefef;
  margin: 0px;
}
.productHeader li, .productBody li {
  float: left;
  list-style: none;
  padding: 10px;
  min-width: 80px;
}
</style>

<!-- Title -->
<h1>Listing products</h1>

<!-- Table header -->
<ul class="productHeader">
  <li>Name</li>
  <li>Description</li>
  <li>Price</li>
  <li>Active</li>
  <li>Quantity</li>
  <li>Decrement</li>
</ul>

<% @products.each do |product| %>
<ul class="productBody">
  <li><%= product.name %></li>
  <li><%= product.description %></li>
  <li><%= product.price %></li>
  <li><%= product.active %></li>
  <li><%= product.quantity %></li>
  <!--Link to custom route -->
  <li><%= button_to "Decrement", decrement_path(product.id), :remote => true, :method => :put %></li>
</ul>
<% end %>

<script>
function myFunction(){
  alert('ok')
}
</script>

<%= button_to 'New Product', new_product_path %>

